#maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

kafka-compose
confluent-*
output-*
archive
*.out
kafka_2.10-0.9.0.1
